[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = "*"
beautifulsoup4 = "*"
html5lib = "*"
openpyxl = "*"
requests = "*"
sqlalchemy = "*"
seaborn = "*"
scipy = "*"
statsmodels = "*"
patsy = "*"
scikit-learn = "*"
pyarrow = "*"
tables = "*"
numba = "*"

[dev-packages]

[requires]
python_version = "3.11"
